@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacityPulse {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.opacity-pulse {
  animation: opacityPulse 1.8s ease-in-out infinite;
}


